* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(0, 115, 255);
    font-family: 'Spartan', sans-serif;
}
.container {
    margin: 0 auto;
    position: relative;
    padding-bottom: 30px;
}

.photos-grid {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-auto-rows: minmax(25px, auto);
    width: 100%;
}

.photo-item {
    margin: 5px;
    padding: 10px;
    background: white;
    display: flex;
    flex-direction: column;
}

.photo {
    margin-bottom: 10px;
}

.photo img {
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.avatar-name-likes {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
    margin-bottom: 10px;
}

.name{
    margin-right: auto;
    margin-bottom: 10px;
}

.name a {
    text-decoration: none;
    color: rgb(0, 115, 255);
}
.likes-download {
    display: grid;
    grid-row-gap: 3px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: flex-end;
}

.likes-download p {
    margin-left: 10px;
}

.likes-img {
    width: 20px;
}

.downloads-img {
    width: 20px;
}

.info-mid {
    margin-top: auto;
    margin-bottom: 20px;
}

.bio-head {
    font-size: 20px;
    margin-bottom: 5px;
}

.bio {
    white-space: pre-wrap;
    word-break: break-word;
}

.info-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid rgba(0, 115, 255, 0.4);
    padding-bottom: 20px; 
}

.info-bottom img {
    width: 20px;
    height: 20px;
}

.info-bottom div {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 10px;
}

.portfolio {
    margin-right: 0 !important;
}

.info-bottom a {
    text-decoration: none;
    margin-left: 10px;
    color: rgb(0, 115, 255);
    align-self: flex-end;
}

#loader{
    margin-top: 50px;
    display: none;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loader img {
    width: 100px;
}

.active {
    display: block !important;
}

.bottom-loader {
    display: block !important;
    top: unset !important;
}

#btn {
    margin: 30px auto 0 auto;
    display: block;
    height: 50px;
    width: 150px;
}
